<html>
<head>
  <title>Isomorphic JS</title>
  <link href="/styles.css" rel="stylesheet">
</head>
<body>
  <div class="container" id="view-container">
    {{{body}}}
  </div>
  <script src="/scripts.js"></script>
</body>
</html>
