doctype html
html
  head
    title isomorphic
    link(href='/styles.css', rel='stylesheet', type='text/css')
  body
    #isomorphic!= body
    script(src='/scripts.js')
    script.
      try {
        window.isomorphize(!{componentPath}, !{data});
      } catch (e) {
        try {
          window.console.error('one does not simply call isomorphize, without first loading isomorphize.')
        } catch (e) {}
      }
