doctype html
html
  head
    title isomorphic
    link(href='/styles.css', rel='stylesheet', type='text/css')
  body
    #isomorphic!= body
    script(src='/scripts.js')
    script.
      (function (isomorphic, router) {
        // @TODO remove. gross.
        var raw = isomorphic.require('components/' + !{componentPath});
        console.log('jade', !{data});
        var component = raw(!{data});
        router.handleClientRoute(component);
      })(window.isomorphic, window.router);
